@model WinnersCirlce.Models.Users
@{
    ViewBag.Title = "Winners";
    //make this the intro page forget home controller...based on role you can see whatever
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
